<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.fidoalliance.mobile" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>fido</name>
    <js-module name="fido" src="www/fido.js">
        <clobbers target="cordova.plugins.fido"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="fido">
                <param name="android-package" value="org.fidoalliance.mobile.fido"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/fido.java" target-dir="src/org/fidoalliance/mobile/fido"/>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="org.fidoalliance.uaf.permissions.FIDO_CLIENT"/>
        </config-file>
    </platform>
</plugin>